footer{
    color: black;
}

h1{
    text-align: center;
}
body{
    background-color: lightblue;
}
.tooltip {
    position: absolute;
    font-size: 13px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: lightgray;
}