footer{
    color: black;
    opacity: 0.6;
}

h1{
    text-align: center;
}
body{
    background-color: lightblue;
}
p{
    font-size: 18px;
    width: 1000px;
}
.tooltip {
    position: absolute;
    font-size: 13px;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: lightgray;
}
.compareTip{
    font-size: 20px;
    width: 900px;
    height: auto;
    background-color: white;
    border-style: dotted;
    border-color: black;
}